doctype
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/test.css')
    script(src="/js/accent.js")
  body
    header
      h1 Test Page
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p End of test page