body {
  font: 16px sans-serif;
}

.script-set {
  width: 800px;
}

.script-set-header {
  font-weight: bold;
  margin-top: 2px;
}

.character-set {
  padding: 14px;
  margin: 4px;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
}

.cs-header {
  margin-top: 1px;
}

.cs{
  margin-top: 1px;
}

.double-line-spacing{
  line-height: 200%;
}

.randchar {
  padding-left: 6.18px;
}

.randstring {
  padding-left: 6.18px;
}